# Markdown Snippets Custom
snippet title "Title With Current Filename" b
	# `expand('%:t:r')`
	**Created at `strftime("%Y-%m-%d  %H:%M")`**

snippet pyblk "Python Code Block" b
	```python
	#!/usr/bin/env python3

	```
